.eff-table__checkbox {
  color: #606266;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  line-height: 30px;
  &-icon, &-label{
    vertical-align: middle;
  }
  &-icon {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
    &:after {
      box-sizing: content-box;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform 0.15s ease-in 0.05s;
      transform-origin: center;
    }
  }
  &-label{
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  &:hover{
    .eff-table__checkbox-label{
      color: #409eff
    }
    .eff-table__checkbox-icon {
      border-color: #409eff;
    }
  }
  &.is-checked,
  &.is-indeterminate {
    .eff-table__checkbox-label{
      color: #409eff;
    }
    .eff-table__checkbox-icon {
      background-color: #409eff;
      border-color: #409eff;
    }
  }
  &.is-checked {
    .eff-table__checkbox-icon:after {
      transform: rotate(45deg) scaleY(1);
    }
  }
  &.is-indeterminate {
    .eff-table__checkbox-icon:before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      height: 2px;
      transform: scale(0.5);
      left: 0;
      right: 0;
      top: 5px;
    }
  }
  &.is--disabled{
    .eff-table__checkbox-icon{
      border: 1px solid #ccc;
      background-color: #f1f2f3;
      cursor: not-allowed;
    }
    .eff-table__checkbox-label{
      color: #ccc;
      cursor: not-allowed;
    }
    &.is-checked,
    &.is-indeterminate {
      .eff-table__checkbox-icon {
        background-color: #f5f5f5;
        border-color: #ccc;
      }
    }
    &.is-checked {
      .eff-table__checkbox-icon:after {
        border-color: #aaa;
      }
    }
  }
}