$icon-color: #666;
$icon-thin-color: #888;

[class^="eff-icon-"] {
  position: relative;
  width: 14px;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.eff-icon-edit {
  position: relative;
  display: inline-block;
  min-width: 12px;
  height: 12px;

  &::before {
    position: absolute;
    height: 9px;
    width: 9px;
    top: 2px;
    left: 1px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    content: " ";
  }

  &::after {
    position: absolute;
    content: " ";
    left: 8px;
    bottom: 3px;
    width: 0;
    height: 8px;
    border-radius: 0 0 80% 80%;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.eff-icon-search {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid $icon-thin-color;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 10px;
    transform: rotate(40deg);
    width: 4px;
    height: 1px;
    background-color: $icon-thin-color;
  }
}

.eff-icon-greater {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(135deg);
  }

  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: 0;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(-135deg);
  }
}

.eff-icon-less {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: 0;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(-45deg);
  }
}

.eff-icon-greaterthan {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $icon-thin-color;
    border-right: 1px solid $icon-thin-color;
    -webkit-transform: rotate(312deg) skew(14deg,
        25deg);
    transform: rotate(312deg) skew(14deg,
        25deg);
    left: 0px;
    top: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 2px;
    left: 2px;
    width: 10px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(337deg);
    transform: rotate(337deg);
  }
}

.eff-icon-lessthan {
  position: relative;
  width: 14px;
  height: 14px;
  transform: rotateY(180deg);

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $icon-thin-color;
    border-right: 1px solid $icon-thin-color;
    -webkit-transform: rotate(312deg) skew(14deg,
        25deg);
    transform: rotate(312deg) skew(14deg,
        25deg);
    left: 0px;
    top: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 2px;
    left: 2px;
    width: 10px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(337deg);
    transform: rotate(337deg);
  }
}

.eff-icon-equals {
  position: relative;
  width: 14px;
  height: 14px;
  // display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 1px;
    top: 3px;
    left: 3px;
    background-color: $icon-thin-color;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 3px;
    width: 9px;
    left: 3px;
    height: 1px;
    background-color: $icon-thin-color;
  }
}

.eff-icon-unequals {
  position: relative;
  width: 14px;
  height: 14px;
  // display: inline-flex;
  flex-direction: column;
  justify-content: space-around;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 13px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(90deg);
    transform: rotate(114deg);
    top: 6px;
    left: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 4px;
    width: 10px;
    height: 4px;
    border-top: 1px solid $icon-thin-color;
    border-bottom: 1px solid $icon-thin-color;
    left: 2px;
  }
}

.eff-icon-range {

  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border-radius: 61%;
    border-top: 1px solid $icon-thin-color;
    -webkit-transform: rotate(317deg);
    transform: rotate(295deg);
    border-right: 2px solid $icon-thin-color;
    top: 4px;
    left: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    border-radius: 61%;
    border-top: 1px solid $icon-thin-color;
    -webkit-transform: rotate(71deg);
    transform: rotate(104deg);
    border-right: 2px solid $icon-thin-color;
    left: 6px;
    top: 3px;
  }
}

.eff-icon-drag {
  cursor: move;
  width: 14px;
  height: 14px;

  &__stub {
    width: 2px;
    height: 7px;
    background: $icon-thin-color;
    position: absolute;
    top: 3px;
    left: 2px;

    &::before {
      position: relative;
      content: '';
      border: 3px solid transparent;
      border-bottom: 4px solid $icon-thin-color;
      top: -18px;
      left: -2px;
    }

    &::after {
      position: relative;
      content: '';
      border: 3px solid transparent;
      border-top: 4px solid $icon-thin-color;
      top: 12px;
      left: -8px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 6px;
    border-top: 2px solid $icon-thin-color;
    right: 0px;
    border-bottom: 2px solid $icon-thin-color;
    top: 3px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 7px;
    border-top: 2px solid $icon-thin-color;
    right: 0px;
    top: 7px;
  }
}

.eff-icon-question {
  position: relative;
  width: 13px;
  height: 13px;
  min-width: 13px;
  border-radius: 100%;
  background-color: #666;
  &::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 2px;
    width: 2px;
    height: 2px;
    border: 1.6px solid #fff;
    border-left-color: transparent;
    border-radius: 100%;
    transform: rotate(-30deg);
  }
  &::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 100%;
  }
}

.eff-icon-info {
  position: relative;
  width: 13px;
  height: 13px;
  min-width: 13px;
  border-radius: 100%;
  background-color: #666;
  font-size: 12px;
  &::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 2px;
    height: 5px;
    background-color: #fff;
    border-radius: 1px 1px 50% 50%;
  }
  &::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 100%;
  }
}

.eff-icon-fixed {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: rotate(30deg) scale(.7);
  &__item{
    position: absolute;
    left: 6px;
    top: 9px;
    width: 2px;
    height: 5px;
    background-color: $icon-thin-color;
  }
  &::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 0px;
    display: inline-block;
    width: 8px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    border-bottom: 0;
    box-sizing: border-box;
  }
  &::after{
    content: '';
    position: absolute;
    left: 1px;
    top: 3px;
    display: inline-block;
    width: 12px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    border-top: 0;
    transform: perspective(.2em) rotateX(10deg);
    transform-origin: bottom;
    box-sizing: border-box;
  }
}
.eff-column--fixed{
  position: absolute;
  left: -1px;
  top: 0px;
}

.eff-icon-refresh{
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &-icon{
    left: -2px;
    top: -2px;
    position: absolute;
    &.symmetry{
    transform: rotateZ(180deg);
    left: 4px;
    top: 5px;
    }
  }
  &-round{
    position: relative;
    width: 10px;
    height: 10px;
    font-size: 20px;
    left: 3px;
    top: 3px;
    border: 2px solid #888;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: rotate(-15deg);

    // animation: rotate linear .5s infinite;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      width: 1.2px;
      height: 5px;
      background-color: #888;
      transform: rotate(20deg);
    }
    &::after{
      content: '';
      position: absolute;
      left: 1px;
      top: -1px;
      width: 1.2px;
      height: 5px;
      background-color: #999;
      transform: rotate(110deg);
    }
  }
  &-blank{
    position: absolute;
    left: 2px;
    top: 7px;
    width: 4px;
    height: 3px;
    background-color: #fff;
    z-index: 2;
    transform: rotate(35deg);
  }
}

.tree-loading{
   animation: treeLoading 2s infinite;
   transform: scale(.8);
}
@keyframes treeLoading {
  0% {
    transform: rotate( 0deg ) scale(.8);
  }

  100% {
    transform: rotate( 360deg ) scale(.8);
  }
}

.eff-icon-delete{
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #888;
  &-top{
    position: relative;
    display: block;
    width: 14px;
    height: 2px;
    margin-top: 4px;
    background-color: currentColor;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 4px;
      top: -2px;
      width: 6px;
      height: 3px;
      border: 2px solid currentColor;
      border-bottom: 0;
      box-sizing: border-box;
    }
  }
  &-bottom{
    display: block;
    width: 11px;
    height: 9px;
    position: relative;
    margin: 0 auto;
    border: 2px solid currentColor;
    border-top: 0;
    border-radius: 0 0 1px 1px;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 2px;
      top: 1px;
      width: 4px;
      height: 5px;
      border-left: 2px solid currentColor;
      border-right: 2px solid currentColor;
      box-sizing: border-box;
    }
  }
}
