$icon-color: #666;
$icon-thin-color: #888;

[class^="eff-icon-"] {
  position: relative;
  width: 14px;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.eff-icon-edit {
  position: relative;
  display: inline-block;
  min-width: 12px;
  height: 12px;

  &::before {
    position: absolute;
    height: 9px;
    width: 9px;
    top: 2px;
    left: 1px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    content: " ";
  }

  &::after {
    position: absolute;
    content: " ";
    left: 8px;
    bottom: 3px;
    width: 0;
    height: 8px;
    border-radius: 0 0 80% 80%;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.eff-icon-search {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid $icon-thin-color;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 10px;
    transform: rotate(40deg);
    width: 4px;
    height: 1px;
    background-color: $icon-thin-color;
  }
}

.eff-icon-greater {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(135deg);
  }

  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: 0;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(-135deg);
  }
}

.eff-icon-less {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: '';
    display: inline-block;
    bottom: 0;
    width: 1px;
    height: 9px;
    background-color: $icon-thin-color;
    transform: rotate(-45deg);
  }
}

.eff-icon-greaterthan {
  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $icon-thin-color;
    border-right: 1px solid $icon-thin-color;
    -webkit-transform: rotate(312deg) skew(14deg,
        25deg);
    transform: rotate(312deg) skew(14deg,
        25deg);
    left: 0px;
    top: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 2px;
    left: 2px;
    width: 10px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(337deg);
    transform: rotate(337deg);
  }
}

.eff-icon-lessthan {
  position: relative;
  width: 14px;
  height: 14px;
  transform: rotateY(180deg);

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-bottom: 1px solid $icon-thin-color;
    border-right: 1px solid $icon-thin-color;
    -webkit-transform: rotate(312deg) skew(14deg,
        25deg);
    transform: rotate(312deg) skew(14deg,
        25deg);
    left: 0px;
    top: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 2px;
    left: 2px;
    width: 10px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(337deg);
    transform: rotate(337deg);
  }
}

.eff-icon-equals {
  position: relative;
  width: 14px;
  height: 14px;
  // display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 1px;
    top: 3px;
    left: 3px;
    background-color: $icon-thin-color;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 3px;
    width: 9px;
    left: 3px;
    height: 1px;
    background-color: $icon-thin-color;
  }
}

.eff-icon-unequals {
  position: relative;
  width: 14px;
  height: 14px;
  // display: inline-flex;
  flex-direction: column;
  justify-content: space-around;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 13px;
    height: 1px;
    background-color: $icon-thin-color;
    -webkit-transform: rotate(90deg);
    transform: rotate(114deg);
    top: 6px;
    left: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 4px;
    width: 10px;
    height: 4px;
    border-top: 1px solid $icon-thin-color;
    border-bottom: 1px solid $icon-thin-color;
    left: 2px;
  }
}

.eff-icon-range {

  position: relative;
  width: 14px;
  height: 14px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    border-radius: 61%;
    border-top: 1px solid $icon-thin-color;
    -webkit-transform: rotate(317deg);
    transform: rotate(295deg);
    border-right: 2px solid $icon-thin-color;
    top: 3px;
    left: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    border-radius: 61%;
    border-top: 1px solid $icon-thin-color;
    -webkit-transform: rotate(71deg);
    transform: rotate(104deg);
    border-right: 2px solid $icon-thin-color;
    left: 6px;
    top: 2px;
  }
}

.eff-icon-drag {
  cursor: move;
  width: 14px;
  height: 14px;

  &__stub {
    width: 2px;
    height: 7px;
    background: $icon-thin-color;
    position: absolute;
    top: 3px;
    left: 2px;

    &::before {
      position: relative;
      content: '';
      border: 3px solid transparent;
      border-bottom: 4px solid $icon-thin-color;
      top: -18px;
      left: -2px;
    }

    &::after {
      position: relative;
      content: '';
      border: 3px solid transparent;
      border-top: 4px solid $icon-thin-color;
      top: 12px;
      left: -8px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 6px;
    border-top: 2px solid $icon-thin-color;
    right: 0px;
    border-bottom: 2px solid $icon-thin-color;
    top: 3px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 7px;
    border-top: 2px solid $icon-thin-color;
    right: 0px;
    top: 7px;
  }
}

.eff-icon-question {
  position: relative;
  width: 13px;
  height: 13px;
  min-width: 13px;
  border-radius: 100%;
  background-color: #666;
  &::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 2px;
    width: 2px;
    height: 2px;
    border: 1.6px solid #fff;
    border-left-color: transparent;
    border-radius: 100%;
    transform: rotate(-30deg);
  }
  &::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 100%;
  }
}

.eff-icon-info {
  position: relative;
  width: 13px;
  height: 13px;
  min-width: 13px;
  border-radius: 100%;
  background-color: #666;
  font-size: 12px;
  &::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 2px;
    height: 5px;
    background-color: #fff;
    border-radius: 1px 1px 50% 50%;
  }
  &::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 100%;
  }
}

.eff-icon-fixed {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: rotate(30deg) scale(.7);
  &__item{
    position: absolute;
    left: 6px;
    top: 9px;
    width: 2px;
    height: 5px;
    background-color: $icon-thin-color;
  }
  &::before{
    content: '';
    position: absolute;
    left: 3px;
    top: 0px;
    display: inline-block;
    width: 8px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    border-bottom: 0;
    box-sizing: border-box;
  }
  &::after{
    content: '';
    position: absolute;
    left: 1px;
    top: 3px;
    display: inline-block;
    width: 12px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    border-top: 0;
    transform: perspective(.2em) rotateX(10deg);
    transform-origin: bottom;
    box-sizing: border-box;
  }
}
.eff-column--fixed{
  position: absolute;
  left: -1px;
  top: 0px;
}

// 刷新
.eff-icon-refresh{
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  &-icon{
    left: -2px;
    top: -5px;
    position: absolute;
    &.symmetry{
      transform: rotateZ(180deg);
      left: 4px;
      top: 5px;
    }
  }
  &-round{
    position: relative;
    width: 10px;
    height: 10px;
    font-size: 20px;
    left: 3px;
    top: 3px;
    border: 2px solid $icon-thin-color;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: rotate(-15deg);

    // animation: rotate linear .5s infinite;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      width: 1.2px;
      height: 5px;
      background-color: $icon-thin-color;
      transform: rotate(20deg);
    }
    &::after{
      content: '';
      position: absolute;
      left: 1px;
      top: -1px;
      width: 1.2px;
      height: 5px;
      background-color: $icon-thin-color;
      transform: rotate(110deg);
    }
  }
  &-blank{
    position: absolute;
    left: 2px;
    top: 11px;
    width: 4px;
    height: 3px;
    background-color: #fff;
    z-index: 2;
    transform: rotate(35deg);
  }
}
.table-refresh{
  &:hover{
    animation: effRefresh 2s infinite;
  }
}

@keyframes effRefresh {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.tree-loading{
   animation: treeLoading 2s infinite;
   transform: scale(.8);
}
@keyframes treeLoading {
  0% {
    transform: rotate( 0deg ) scale(.8);
  }

  100% {
    transform: rotate( 360deg ) scale(.8);
  }
}

// 删除
.eff-icon-delete{
  display: inline-block;
  width: 14px;
  height: 14px;
  color: $icon-thin-color;
  &-top{
    position: relative;
    display: block;
    width: 14px;
    height: 2px;
    margin-top: 4px;
    background-color: currentColor;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 4px;
      top: -2px;
      width: 6px;
      height: 3px;
      border: 2px solid currentColor;
      border-bottom: 0;
      box-sizing: border-box;
    }
  }
  &-bottom{
    display: block;
    width: 11px;
    height: 9px;
    position: relative;
    margin: 0 auto;
    border: 2px solid currentColor;
    border-top: 0;
    border-radius: 0 0 1px 1px;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 2px;
      top: 1px;
      width: 4px;
      height: 5px;
      border-left: 2px solid currentColor;
      border-right: 2px solid currentColor;
      box-sizing: border-box;
    }
  }
}

// 清空搜索
.eff-icon-clear-search{
  display: inline-block;
  width: 16px;
  &-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18px;
    height: 16px;
    box-sizing: border-box;
  }
  &:hover{
    cursor: pointer;
  }
  &--top{
    width: 8px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    border-radius: 2px;
    box-sizing: border-box;
  }
  &--center{
    width: 100%;
    height: 6px;
    margin-top: -2px;
    border: 2px solid $icon-thin-color;
    border-radius: 2px;
    box-sizing: border-box;
  }
  &--bottom{
    position: relative;
    margin-top: -1px;
    width: 14px;
    height: 9px;
    border: 2px solid $icon-thin-color;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 2px;
      width: 2px;
      height: 2px;
      background-color: $icon-thin-color;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 5px;
      width: 2px;
      height: 3px;
      background-color: $icon-thin-color;
    }
  }
  &:hover{
    animation: effIsmove .8s infinite;
    .eff-icon-clear-search--bottom{
      animation: effSkewX .8s infinite;
    }
  }
}
@keyframes effIsmove {
  0%{
    transform: translateX(-2px);
  }
  25%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(2px);
  }
  75%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2px);
  }
}
@keyframes effSkewX {
  0%{
    transform: skewX(20deg);
  }
  25%{
    transform: skewX(0deg);
  }
  50%{
    transform: skewX(-20deg);
  }
  75%{
    transform: skewX(0deg);
  }
  100%{
    transform: skewX(20deg);
  }
}

// 小计
.eff-icon-subtotal{
  display: inline-block;
  width: 16px;
  height: 16px;
  &-container{
    position: relative;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }
  &:hover{
    cursor: pointer;
  }

  &-plus{
    position: absolute;
    left: 0;
    top: -1px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 8px;
      height: 2px;
      background-color: $icon-thin-color;
    }
    &::after{
      content: '';
      position: absolute;
      left: 3px;
      top: 0;
      width: 2px;
      height: 8px;
      background-color: $icon-thin-color;
    }
  }
  &-line{
    position: absolute;
    left: -2px;
    bottom: 9px;
    width: 20px;
    height: 1px;
    background-color: $icon-thin-color;
    transform: rotate(-45deg);
  }
  &-equal{
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 6px;
      height: 2px;
      background-color: $icon-thin-color;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 6px;
      height: 2px;
      background-color: $icon-thin-color;
    }
  }
  &:hover{
    .eff-icon-subtotal-equal{
      &::after{
        animation: effRotate 1s infinite;
      }
    }
  }
}
@keyframes effRotate {
  0%{
    transform: rotate(0);
  }
  10%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}

// 眼睛
.eff-icon-eye{
  position: relative;
  width: 16px;
  height: 16px;
  &__box{
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 16px;
  }
  &__top{
    position: relative;
    width: 16px;
    height: 10px;
    overflow: hidden;
    box-sizing: border-box;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -9px;
      display: block;
      width: 16px;
      height: 14px;
      border: 1px solid #333;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  &__bottom{
    position: relative;
    width: 16px;
    height: 10px;
    overflow: hidden;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -9px;
      display: block;
      width: 16px;
      height: 14px;
      border: 1px solid #333;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  &::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #333;
    border-radius: 100%;
    box-sizing: border-box;
  }
}

// 列控制
.eff-icon-column-ctrl{
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;

  &__front{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 8px;
    border: 2px solid $icon-thin-color;
    box-sizing: content-box;
    &::before, &::after{
      content: '';
      position: absolute;
      width: 3px;
      height: 2px;
      background-color: $icon-thin-color;
    }
    &::before{
      left: 1px;
      top: 1px;
      z-index: 1;
      box-shadow: 0 -1px 1px rgba($color: #fff, $alpha: 1.0);
    }
    &::after{
      top: 1px;
      right: 1px;
    }
  }

  &__end{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    border: 2px solid $icon-thin-color;
    background-color: white;
    box-shadow: -1px -1px 1px rgba($color: #fff, $alpha: 1.0);
    box-sizing: content-box;
  }

  &:hover{
    cursor: pointer;

    .eff-icon-column-ctrl__front{
      &::before{
        animation: effColumnCtrl 1s ease-in-out infinite;
      }
    }
  }
}

@keyframes effColumnCtrl {
  0%{
    left: 1px;
    top: 1px;
  }
  90%{
    left: 7px;
    top: 7px;
  }
  100%{
    left: 7px;
    top: 7px;
  }
}

// 列批量控制
.eff-icon-batch-control{
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  transform: scale(.92);
  span{
    position: absolute;
    left: 0;
    &::before, &::after{
      position: absolute;
      top: 0;
      content: '';
      width: 8px;
      height: 8px;
      border: 2px solid $icon-thin-color;
      border-radius: 2px;
      box-sizing: border-box;
    }
    &::before{
      left: 0;
    }
    &::after{
      left: 9px;
    }
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 9px;
    }
  }
  &:hover{
    cursor: pointer;
    span:nth-child(1){
      &::before{
        animation: effBatchColumnBefore 1s infinite;
      }
      &::after{
        animation: effBatchColumnAfter 1s infinite;
      }
    }
  }
}
@keyframes effBatchColumnBefore{
  0%{
    left: 0;
  }
  10%{
    left: 0;
  }
  100%{
    left: 9px;
  }
}
@keyframes effBatchColumnAfter{
  0%{
    left: 9px;
  }
  10%{
    left: 9px;
  }
  100%{
    left: 0;
  }
}

// 批量替换
.eff-icon-replace{
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: scale(0.95);
  &-icon{
    left: -2px;
    top: -4px;
    position: absolute;
    &.symmetry{
      transform: rotateZ(180deg);
      left: 5px;
      top: 5px;
    }
  }
  &-round{
    position: relative;
    width: 8px;
    height: 10px;
    font-size: 20px;
    left: 3px;
    top: 1px;
    border: 2px solid $icon-thin-color;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    transform: rotate(312deg) scale(1);

    // animation: rotate linear .5s infinite;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -4px;
      width: 1.2px;
      height: 5px;
      background-color: $icon-thin-color;
      transform: rotate(20deg);
    }
    &::after{
      content: '';
      position: absolute;
      left: 1px;
      top: -1px;
      width: 1.2px;
      height: 5px;
      background-color: $icon-thin-color;
      transform: rotate(110deg);
    }
  }
  &-range{
    position: absolute;
    left: 1px;
    top: 12px;
    width: 7px;
    height: 7px;
    border: 2px solid $icon-thin-color;
    border-radius: 2px;
    z-index: 2;
    background-color: #aaa;
    box-sizing: border-box;
  }
  .symmetry{
    .eff-icon-replace-range{
      background-color: #fff;
    }
  }
  &:hover{
    .eff-icon-replace-range{
      animation: effReplace1 1s infinite;
    }
    .symmetry{
      .eff-icon-replace-range{
        animation: effReplace2 1s infinite;
      }
    }
  }
}
@keyframes effReplace1 {
  0%{
    background-color: $icon-thin-color;
  }
  100%{
    background-color: #fff;
  }
}
@keyframes effReplace2 {
  0%{
    background-color: #fff;
  }
  100%{
    background-color: $icon-thin-color;
  }
}


// 高级搜索
.eff-icon-query {
  width: 16px;
  height: 16px;
  cursor: pointer;
  overflow: hidden;

  &-round {
    position: relative;
    left: 2px;
    border: 2px solid $icon-thin-color;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    animation: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        width: 3px;
        height: 3px;
        background-color: #fff;
      }
  }
  &-line {
    display: inline-block;
    position: absolute;
    background-color: $icon-thin-color;
    border-radius: 100%;
    width: 4px;
    height: 2px;
    transform: rotate( -45deg );
    left: 0;
    top: 12px;
  }
  &:hover{
    .eff-icon-query-round{
      background-color: #ccc;
      &::before{
        animation: effSearchScale 1s infinite;
      }
    }
  }
}

@keyframes effSearchScale {
0%{
  width: 3px;
  height: 3px;
}
50% {
  width: 10px;
  height: 10px;
}
100%{
  width: 3px;
  height: 3px;
}
}

