.layout {
  box-sizing: border-box;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-warp {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.no-shrink {
  flex-shrink: 0;
}
.flex-space {
  flex-grow: 1;
  min-width: 5px;
  min-height: 5px;
}

.span-1 {
  width: 4.16%;
}

.span-2 {
  width: 8.33%;
}

.span-3 {
  width: 12.5%;
}

.span-4 {
  width: 16.66%;
}

.span-5 {
  width: 20.83%;
}

.span-6 {
  width: 25%;
}

.span-7 {
  width: 29.16%;
}

.span-8 {
  width: 33.33%;
}

.span-9 {
  width: 37.5%;
}

.span-10 {
  width: 41.66%;
}

.span-11 {
  width: 45.83%;
}

.span-12 {
  width: 50%;
}

.span-13 {
  width: 54.16%;
}

.span-14 {
  width: 58.33%;
}

.span-15 {
  width: 62.5%;
}

.span-16 {
  width: 66.66%;
}

.span-17 {
  width: 70.83%;
}

.span-18 {
  width: 75%;
}

.span-19 {
  width: 79.16%;
}

.span-20 {
  width: 83.33%;
}

.span-21 {
  width: 87.5%;
}

.span-22 {
  width: 91.66%;
}

.span-23 {
  width: 95.83%;
}

.span-24 {
  width: 100%;
}
